Introduction of python

In [17]:
#basic of python
# types,slicing,truthiness,f-string
x=10 #int
y=13.36 #float
z="hello" #string
t=True #boolean
lst=[1,2,3,4,'alif',[1,3,4],10*2]  #list
tup=(1,2,3,['arif',3.5,4*2],5) #tuple
dic={'a':1,'b':3,'c':4}  #dictionary
st={1,2,3,"abar"}  # set
print(lst)
#now we add 10 into list
lst.append(10)
print(lst)
#now we add "bye" in  index 3
lst.insert(3,"bye")
print(lst)

[1, 2, 3, 4, 'alif', [1, 3, 4], 20]
[1, 2, 3, 4, 'alif', [1, 3, 4], 20, 10]
[1, 2, 3, 'bye', 4, 'alif', [1, 3, 4], 20, 10]

In [18]:
print(type(x),type(y),type(z),type(t),type(lst),type(tup),type(dic),type(st))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'list'> <class 'tuple'> <class 'dict'> <class 'set'>

In [20]:
#slicing
num=[10,20,30,40,50,60,70,80]
print(num[1:4])
print(num[::2])
print(num[-3:])
print(num[::-1])

[20, 30, 40]
[10, 30, 50, 70]
[60, 70, 80]
[80, 70, 60, 50, 40, 30, 20, 10]

In [28]:
#truthiness
sample=[0,1,"","text",[],[1],{},{'k':1},None]
for i in sample:
 if i:
    print(repr(i),"-> Truthy")
 else:
   print(repr(i),"->Fslsy")
#f-string
first_name="Zihad"
last_name="Hasan"
score=90
full_name=f"{first_name} {last_name}"
print(full_name)

0 ->Fslsy
1 -> Truthy
'' ->Fslsy
'text' -> Truthy
[] ->Fslsy
[1] -> Truthy
{} ->Fslsy
{'k': 1} -> Truthy
None ->Fslsy
Zihad Hasan

In [41]:
data={ "user":{
    "name":{
        "first_name":"Zihad",
        "last_name":"Hasan"},
    "ID":10,
    "contact":{ "email":["zihad@gmail.com","hasan@gmail.com"],
               "phone":['013205555','017165552']},
},
"item":[{

    "name":"Laptop","price":1222},
        {"name":"keyboard","price":45}]}

Name=f"{data["user"]["name"]["first_name"]} {data["user"]["name"]["last_name"]}"
print(Name)

Zihad Hasan

In [43]:
phone_num='01354354'
print(phone_num)

01354354

In [45]:
#user input for
name1=input("Enter Your First Name")
name2=input("Enter Your Last Name")
age=input("enter your age")
name=f"{name1} {name2}"
print("Thank you ",name," Your age is:",age)

Enter Your First Name Zihad
Enter Your Last Name Hasan
enter your age 23

Thank you  Zihad Hasan  Your age is: 23

In [47]:
#calculation 
x=10 ; y=5 ;z=2
sum =x+y
sub =x-y
div =x/z
rem=x%3
diV=round(5/3)
print(sum,sub,div,rem,diV)

15 5 5.0 1 2

In [49]:
#Contional operation

x=10 ; y=3
greater =x>y
less =x<y
not_equal= x!=y

print(greater)

True

In [50]:
#Logical
z= (x<y) and (x!=y)
print(z)

False

In [55]:
inp=(input("Enter Number"))
number=inp.split()
print(number)

Enter Number zihad

['zihad']

In [56]:
taka=1000
raining=False
if (taka>500) and (raining==False) or():
    print("Will Go to tour")
else:
    ("Save money")

Will Go to tour

In [57]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [60]:
count =0
while count <10:
    print(count,"Hello")
    count= count+1
print(count)

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10

In [62]:
sum=0
for i in range(1,10):
    print(i,"processing")
    if i%2==0:
        continue
    sum+=i
    print(i,"is added to the sum")
print(sum)

1 processing
1 is added to the sum
2 processing
3 processing
3 is added to the sum
4 processing
5 processing
5 is added to the sum
6 processing
7 processing
7 is added to the sum
8 processing
9 processing
9 is added to the sum
25

In [ ]:
accuracy=95
prev=6
change_or_not=True
while True:
    if change_or_not== False and accuracy==100:
       break
    if(prev>accuracy):
        change_or_not=False

##Max and Minimum

In [ ]:
inp=input()
number=inp.split()

x=int(number[0])
y=int(number[1])
z=int(number[2])
print(x,y,z)